/* form{
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;

 
  }
  input{
    border-radius: 5px;
    
  }

  .nav2{
    padding-right: 30px;
    font-size: 20px;
    
  }
.abtimg
{
  float: right;
}
.logoimg{
  margin-bottom: 20px;
}

.nav1{
  margin-top:-25px;
}
.nav3{
  font-size: 20px;
  padding-right: 30px;
}

.glyphicon-star-empty {
  color:orange;
}

h1{
  color: lightgreen
}
.p5{
  font-size: 20px;
  color: black
}
.head{
  color: brown;
}
.Invalid{
  border-color: red;
  background-color: rgb(250, 193, 193);;    
}

.err-msg{
  color:red;
} */
